@{
    ViewData["Title"] = "OptiTour Map";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>OptiTour Routes</title>
</head>

<body>
    <h2>Giới thiệu</h2>
    <p>OptiTour Routes là dịch vụ giúp khách du lịch tìm đường đi ngắn nhất để tham quan các địa điểm nổi tiếng tại TP.HCM.</p>
</body>
</html>
